<header class="header">
    <div class="container">
        <div class="header-row header-row-logo">
            <div class="header__logo">
                <a href="/"><img src="/static/img/entity-logo.jpg" alt=""></a>
            </div>
        </div>
        <div class="header-row header-row-menu">
            <nav class="header__nav__menu">
                <ul>
                    <li><a href="/">Games</a></li>
                    {{if .session.UserID}}
                    <li><a href="#" id="friends">Friends</a></li>
                    {{end}}
                </ul>
            </nav>
        </div>
        <div class="header-row header-row-login">
            <div class="header__login">
                {{if .session.UserID}}
                <div>
                    {{.user.Username}}
                    <a href="/logout"><i class="fa fa-sign-out"></i></a>
                </div>
                <div id="buy-coins" class="text-success"><i class="fa fa-ticket"></i> {{.user.Coins}}</div>
                {{else}}
                <a href="#" id="auth-login-button" class="primary-btn"><i class="fa fa-sign-in"></i>&nbsp;Login</a>
                {{end}}
            </div>
        </div>
    </div>
</header>