{{template "layout.tmpl" .}}
{{define "content"}}

<div class="breadcrumb-option game-canvas">

    <div class="game-iframe">
        <p>This is a great game.</p>
        <button class="btn btn-success"><i class="fa fa-shopping-cart"></i> Buy 20 coins</button>
    </div>

</div>

{{end}}